@model IEnumerable<ShopWebApplication.Models.Account>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="container">
    <h1>Xin Chào @ViewBag.name !</h1>
</div>
